<div class="root">
    <div class="bottom">
        <div class="footerContainer">
            <div class="ROW">
                <div class="footerContent">
                    <img class="imageFooter" src="../../../assets/images/redstone.svg" />
                    <p>
                        La digitalisation a fait émerger de nouveaux supports de communications et d’optimisation pour
                        la
                        gestion d’entreprise. Soyez au rythme et optez pour des nouvelles manières d’opérer au sein
                        votre
                        entreprise.
                    </p>
                    <p class="ReadMore">
                        En savoir plus ...<mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next
                        </mat-icon>
                    </p>
                </div>

                <div class="footerContent">
                    <h1>Nos réseaux</h1>
                    <p>
                    </p>
                </div>

                <div class="footerContent">
                    <h1>Nos contacts</h1>
                    <div class="ROWcliked">
                        <div style="margin-right: 10px;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                        </div>

                        <div>
                            <p>
                                IVC 162 Bis Ankaraobato<br>
                                Antananarivo, 102<br>
                                MADAGASCAR<br><br>
                            </p>
                        </div>
                    </div>

                    <div class="ROWcliked">
                        <div style="margin-right: 10px;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon>
                        </div>

                        <div>
                            <p>+261 34 37 823 43</p>
                        </div>
                    </div>

                    <div class="ROWcliked">
                        <div style="margin-right: 10px;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                        </div>

                        <div>
                            <p>mahery@redstone.mg</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="separator">

            <div class="ROW">
                <div class="footerContent">
                    <p class="copyright">Copyright © 2021 RedStone Madagascar. Designed and Developed by RedStone.</p>
                </div>

            </div>
        </div>
    </div>

</div>