.root{
    width: 100%;
    height: 100vh;
    background-color: black;
}

p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 18px;
}

.bottom{
    display: flex;
    height: 100vh;
    align-items:flex-end;
}

.footerContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.ROW{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.ROWcliked{
    display: flex;
    flex: 1;
    flex-direction: row;
    cursor: pointer;
}

.footerContent{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
}

.footerContainer h1 {
    display: flex;
}

.ReadMore{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px !important;
    cursor: pointer;
    color: #FA0A00;
    opacity: 0.3;
}

.ReadMore:hover{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px !important;
    cursor: pointer;
    color: #FA0A00;
    opacity: 1;
}

.separator{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
}

.copyright{
    display: flex;
    flex: 1;
    justify-content:center;
    font-size: 16px !important;
    margin-bottom: 10px;
}

.imageFooter{
    display: flex;
    width: 55%;
    margin-bottom: 20px;
}