.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 32px;
}
.header{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  border-color: #c90000;
  border-width: 1px;
  border-style: solid;
}
.maincard{
  width: 400px;
  margin: 16px;
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
}
.cardImageHeader{
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.cardOption{
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.cardTitle{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.detailData{
  position: relative;
}
.detailComponent{
  margin: 32px;
  display: flex;
  flex-direction: column;
  color: white;
}
.gridContainer{
  width: 75%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
