<div class="root" rowHeight="1:2">
  <div class="header">Nos réalisations</div>
  <div class="gridContainer">
      <div *ngFor="let item of constCardData; let i = index" class="maincard">
        <div class="cardImageHeader" [style]="setImageStyle(item.imageUrl)" (mouseenter)="setShowDetails(i,true)" (mouseleave)="setShowDetails(i,false)">
          <div [@scaleY]="showDetails[i] ? 'open' : 'closed'" class="detailData">
            <div [@opacity]="showDetails[i] ? 'open' : 'closed'" class="detailComponent">
              <p style="font-size: larger; font-weight: 500;">{{item.title}}</p>
              <p>{{item.detail}}</p>
            </div>
          </div>
        </div>
        <div class="cardOption">
          <p>{{item.subtile}}</p>
          <p class="cardTitle">{{item.title}}</p>
        </div>
      </div>
    </div>
</div>
