.root {
  width: 100%;
  height: 12vh;
  background-color: black;
}
.rootHeader {
  width: 100%;
  height: 12vh;
  background-color: black;
  position: sticky;
  top: 0;
}
.headerMenu {
  color: white;
  margin: 0;
  font-size: 20px;
  padding: 4vh;
  cursor: pointer;
  padding-top: 3.5vh;
  height: 12vh;
}

.headerMenu:hover {
  color: #fa0a00;
}

.headerContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.imageHeader {
  display: flex;
  width: 25%;
  margin-left: 20%;
}
.indicator {
  width: 100%;
  background-color: #fa0a00;
}
.indicatorContainer {
  width: 100%;
  height: 8px;
  position: relative;
  bottom: 8px;
  z-index: 16;
  display: flex;
  flex-direction: column-reverse;
}
