<div [@scalHeader]="headerHidden ? 'open' : 'closed'" class="rootHeader">
  <div class="headerContainer">
    <div style="display: flex; flex: 1;">
      <img class="imageHeader" src="../../../assets/images/redstone.svg" />
    </div>

    <div style="display: flex; flex: 1;">
      <div *ngFor="let menu of menuKeys; let i = index" class="headerMenuHover" (mouseenter)="changeMenu(i,true)"
        (mouseleave)="changeMenu(i,false)" (click)="changeRoute(MenuList[menu].path)">
        <p class="headerMenu">{{MenuList[menu].title}}</p>
        <div class="indicatorContainer">
          <div [@scaleY]="hoveredMenu[i] || checkRout(router.url, MenuList[menu].path) ? 'open' : 'closed'"
            class="indicator"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="root" id="header-root-element-selector-id">
  <div class="headerContainer">
    <div style="display: flex; flex: 1;">
      <img class="imageHeader" src="../../../assets/images/redstone.svg" />
    </div>

    <div style="display: flex; flex: 1;">
      <div *ngFor="let menu of menuKeys; let i = index" class="headerMenuHover" (mouseenter)="changeMenu(i,true)"
        (mouseleave)="changeMenu(i,false)" (click)="changeRoute(MenuList[menu].path)">
        <p class="headerMenu">{{MenuList[menu].title}}</p>
        <div class="indicatorContainer">
          <div [@scaleY]="hoveredMenu[i] || checkRout(router.url, MenuList[menu].path) ? 'open' : 'closed'"
            class="indicator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
