.root{
    width: 100%;
    height: 90vh;
}

.homeContainer{
    display: flex;
    background-image: url('../../../assets/images/homeBackGround.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    align-items:center;
}

p{
    margin:0;
    color: white;
    line-height: 1.5;
}

.buttonContent{
    display: flex;
    width: fit-content;
    justify-content:center;
    align-items:center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color:white;
    font-weight:500;
    background-color: red;
    border-radius: 7px;
}