<div class="root">
<div class="homeContainer">
<div style="width:40%; margin-left: 5%;">
    <p class="homeFirstText">RedSonte Mada</p>
    <p></p>
    <p class="homeSubText">
        Confiez-nous la digitalisation de votre entreprise, de la conception à la réalisation
    </p>

    <div class="buttonContainer">
    <p class="buttonContent">
        Voir nos exploits<mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
    </p>
    </div>
</div>

</div>
</div>
